[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
appnope = "*"
asttokens = "*"
attrs = "*"
backcall = "*"
click = "*"
decorator = "*"
exceptiongroup = "*"
executing = "*"
faker = "*"
flask = "2.3.3"
flask-cors = "*"
flask-migrate = "*"
flask-sqlalchemy = "3.1.1"
gunicorn = "*"
honcho = "*"
werkzeug = "2.3.8"
importlib-metadata = "*"
importlib-resources = "*"
iniconfig = "*"
ipdb = "*"
ipython = "*"
itsdangerous = "*"
jedi = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
matplotlib-inline = "*"
packaging = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
pluggy = "*"
prompt-toolkit = "*"
psycopg2-binary = "*"  # preferred over psycopg2 for dev
pure-eval = "*"
pygments = "*"
pyparsing = "*"
pytest = "*"
python-dateutil = "*"
python-dotenv = "*"
setuptools = "*"
six = "*"
sqlalchemy = "2.0.30"
sqlalchemy-serializer = "*"
stack-data = "*"
toml = "*"
tomli = "*"
traitlets = "*"
wcwidth = "*"
zipp = "*"
flask-bcrypt = "1.0.1"
flask-jwt-extended = "*"
marshmallow = "*"
flask-marshmallow = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_full_version = "3.12"
