@import 'tailwindcss';
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
@theme {
  --color-primary: #EAAA00;
  --color-secondary: #DFC98C;
  --color-dark: #363636;
  --color-tertiary: #E5E5E5;
}
